@mixin toDesktop {
  @media only screen and (min-width: 1093px) {
    @content;
  }
}
.button {
  padding: 1em 2em;
  color: #fff;
  border: 0;
}

.button:hover {
  overflow: hidden;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  max-width: 350px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 0.7s;
  @include toDesktop {
    min-width: 50%;
  }
}
.modal-header {
  background: #273238;
  padding: 15px;
  color: #fff;
  &--text {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 27px;
  }
}
.modal-footer {
  background: #273238;
  padding: 10px;
  color: #fff;
  text-align: center;
  clear: both;
  &--text {
    margin:0;
    background: none;
    border: 1px solid black;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    &:hover {
      color: #273238;
      background:#fff;
      cursor: pointer;
    }
  }
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, closeBtn:focus {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.modal-body {
  clear: both;
  padding: 10px 20px;
}

@keyframes modalopen {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}